## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os #為處理作業系統相關及目錄路徑的模組
import numpy as np #Python進行科學計算的一個基礎包
import pandas as pd 
"""
pandas是資料分析包
pandas中主要有兩種資料結構，分別是：Series和DataFrame
Series：一種類似於一維陣列的物件，是由一組資料(各種NumPy資料型別)以及一組與之相關的資料標籤 (即索引)組成。
DataFrame：一個表格型的資料結構，包含有一組有序的列，每列可以是不同的值型別 (數值、字串、布林型等)。
"""

'\npandas是資料分析包\npandas中主要有兩種資料結構，分別是：Series和DataFrame\nSeries：一種類似於一維陣列的物件，是由一組資料(各種NumPy資料型別)以及一組與之相關的資料標籤 (即索引)組成。\nDataFrame：一個表格型的資料結構，包含有一組有序的列，每列可以是不同的值型別 (數值、字串、布林型等)。\n'

In [5]:
##os常用函數(function)
#取得目前所在路徑
os.getcwd()
#列出當前路徑中所有資料
os.listdir(path='.')
#建立路徑
os.mkdir(path, mode=0o777, *, dir_fd=None)
#刪除目錄
os.rmdir(path, *, dir_fd=None)
#判斷path檔案是否存在
os.path.isfile(path)
#判斷path路徑是否存在
os.path.isdir(path)
#分割路徑為目錄(head)及檔案名稱(tail)
os.path.split(path)
#分割路徑為路徑加檔名(root)及副檔名(ext)
os.path.splitext(path)
#回傳 path 的目錄路徑
os.path.dirname(path)
#回傳 path 的檔案名稱
os.path.basename(path)

['.ipynb_checkpoints',
 'data',
 'Day_001_example_of_metrics.ipynb',
 'Day_001_HW.ipynb',
 'Day_002_first_EDA.ipynb',
 'Day_002_HW.ipynb']

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
#將 dirpath 與 filename 結合，無需自行判斷要用 '\\' 或 '/'
f_app = os.path.join(dir_data, 'application_train.csv')#可解決不同系統之符號不同問題，如windows系統路徑分隔符號為\，mac為/

print('Path of read in data: %s' % (f_app)) # %s 以str()輸出
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [8]:
#.head() 這個函數來觀察前 5 row 資料
app_train.head() #括弧內輸入數字可決定要輸出幾筆資料

r_counter, c_counter = app_train.shape
print('row number is %d and column number is %d' % (r_counter, c_counter))

row number is 307511 and column number is 122

#### 列出所有欄位

In [13]:
app_train.columns
##檢視資料欄位的名稱及型態
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

#### 截取部分資料

In [30]:
#檢視第1~20筆資料
app_train[1:20]
#檢視某個變項資料
app_train["CODE_GENDER"]
#篩選性別為女性的資料
filter = app_train["CODE_GENDER"] == 'F'
app_train[filter]
#多重條件篩選
app_train[(app_train["CODE_GENDER"] == 'F') & (app_train["AMT_INCOME_TOTAL"] > 135000)] # |:or &:and
#找出NA值的位置
app_train["AMT_REQ_CREDIT_BUREAU_HOUR"].isnull()
#刪除NA值
app_train.dropna()
#篩選出女性並指顯示其中感興趣幾個欄位資料
app_train[['CODE_GENDER','AMT_INCOME_TOTAL']][app_train["AMT_INCOME_TOTAL"] > 135000]

       CODE_GENDER  AMT_INCOME_TOTAL
0                M          202500.0
1                F          270000.0
6                F          171000.0
7                M          360000.0
13               M          225000.0
14               F          189000.0
15               M          157500.0
21               F          202500.0
22               F          450000.0
28               M          270000.0
30               F          292500.0
33               M          360000.0
36               F          198000.0
39               M          180000.0
40               M          202500.0
41               F          202500.0
44               M          202500.0
46               F          202500.0
49               M          360000.0
51               M          540000.0
53               F          225000.0
55               F          180000.0
58               M          360000.0
59               M          540000.0
60               F          180000.0
61               M          180000.0
62               M          324000.0
64               M          180000.0
65               M          180000.0
66               F          180000.0
...            ...               ...
307459           M          225000.0
307460           M          382500.0
307461           F          157500.0
307463           F          180000.0
307465           F          180000.0
307466           F          157500.0
307467           F          247500.0
307469           F          202500.0
307475           F          144000.0
307477           F          360000.0
307478           F          225000.0
307481           M          225000.0
307482           F          225000.0
307484           F          540000.0
307485           F          270000.0
307486           F          292500.0
307488           F          157500.0
307489           F          225000.0
307492           M          585000.0
307494           M          270000.0
307495           M          180000.0
307496           F          360000.0
307497           F          180000.0
307498           M          198000.0
307500           F          261000.0
307504           F          153000.0
307506           M          157500.0
307508           F          153000.0
307509           F          171000.0
307510           F          157500.0

[158084 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [ ]:
#平均值,標準差,最小值,最大值,25%,50%,75%百分位數
app_train.describe()